body {
  background: tomato;
}
/* a {
  color: #000;
  font-size: 45px;
  text-decoration: none;
} */
/* img {
  max-width: 90%;
}
table {
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #000;
} */
ul {
  /* list-style-type: circle; */
  /* list-style-type: square; */
  /* list-style-type: disc; */
  /* list-style-type: none; */
}
h1,
p,
span,
strong {
  border: 1px solid paleturquoise;
}
#title {
  background: violet;
  color: #fff;
  padding: 10px;
}
.title {
  font-family: 'Courier New', Courier, monospace;
}
.font-size {
  font-size: 20px;
}
iframe {
  border: 0;
}
